/* بخش بازی های صفحه خانه */

.games{

    width:92%;
    margin:25px auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:15px;

}



.game{

    background:#101010;

    border:1px solid #ffd700;

    border-radius:20px;

    padding:15px 5px;

    min-height:140px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    transition:.3s;

}



.game:hover{

    transform:translateY(-5px);

    box-shadow:0 0 15px #ffd700;

}



.game h2{

    font-size:35px;

    margin:5px;

}



.game h3{

    color:#ffd700;

    font-size:14px;

    margin:5px;

}



.game a{

    text-decoration:none;

    color:white;

}





/* برای موبایل */

@media(max-width:600px){


.games{

    grid-template-columns:repeat(3,1fr);

    gap:8px;

}



.game{

    min-height:110px;

    border-radius:15px;

}



.game h2{

    font-size:28px;

}



.game h3{

    font-size:12px;

}


}
